@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --color-yellow:#ffaa00;
    --color-orange: #9e7100;
    --color-display: rgba(0, 0, 0, .75);
    --gradient-yellow-orange: linear-gradient(to right, #ffaa00,#9e7100);
    --color-display1:rgba(255, 255, 255, 1);
    --color-display2: rgba(255, 255, 255, 0.42);
    --transition: 0.25s linear;
}

* {
    box-sizing: border-box;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    background: var(--gradient-yellow-orange);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,10rem);
    grid-template-rows: minmax(12rem, auto) repeat(5, 10rem) ;
    gap: 5px;
}

.calculator-grid > button:hover {
    background-color: var(--color-display1);
    transition: background-color var(--transition);
}

.calculator-grid > button:active {
    transform: translate(1px, 1px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    outline: none;
    background-color: var(--color-display2);
}

.display {
    grid-column: 1/ -1;
    background-color: var(--color-display);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand{
    font-size: 3rem;
    color: var(--color-display2);
}

.current-operand{
    color: white;
    font-size: 4rem;
}

.span-two {
    grid-column: span 2;
}

.span-two-rows {
    grid-row: span 2;
}
